apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-test-deployment
  namespace: default
spec:
  replicas: 6
  selector:
    matchLabels:
      app.kubernetes.io/name: nginx-test
  template:
    metadata:
      labels:
        app.kubernetes.io/name: nginx-test
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app.kubernetes.io/name: nginx-test } }
        - maxSkew: 2
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app.kubernetes.io/name: nginx-test } }
      initContainers:
        - name: configworkdir
          image: busybox
          command: [ "sh", "-c", 'echo "<h1>$(hostname)</h1>" > /workdir/index.html' ]
          volumeMounts:
            - name: workdir
              mountPath: "/workdir"
      containers:
        - name: nginx
          image: nginx:latest
          volumeMounts:
            - name: workdir
              mountPath: /usr/share/nginx/html
      volumes:
        - name: workdir
          emptyDir: {}

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-test-svc
  namespace: default
spec:
  selector:
    app.kubernetes.io/name: nginx-test
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http

---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: nginx-test-gw
  namespace: default
spec:
  gatewayClassName: haproxy
  listeners:
    - name: http-listener
      port: 80
      protocol: HTTP

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nginx-test-route
  namespace: default
spec:
  parentRefs:
    - name: nginx-test-gw
  hostnames:
    - nginx-test.dev.k8s.chezdj.com
  rules:
    - backendRefs:
        - name: nginx-test-svc
          port: 80