apiVersion: apps/v1
kind: Deployment
metadata:
  name: pyechoserver-deployment
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: pyechoserver
  template:
    metadata:
      labels:
        app.kubernetes.io/name: pyechoserver
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app.kubernetes.io/name: pyechoserver } }
        - maxSkew: 2
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app.kubernetes.io/name: pyechoserver } }
      containers:
        - name: pyechoserver
          image: dseeley/pyechoserver:latest

---
apiVersion: v1
kind: Service
metadata:
  name: pyechoserver-svc
  namespace: default
spec:
  selector:
    app.kubernetes.io/name: pyechoserver
  ports:
    - port: 8090
      targetPort: 8090
      protocol: TCP
      name: http

---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: pyechoserver-gw
  namespace: default
spec:
  gatewayClassName: haproxy
  listeners:
    - name: http-listener
      port: 80
      protocol: HTTP

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: pyechoserver-route
  namespace: default
spec:
  parentRefs:
    - name: pyechoserver-gw
  hostnames:
    - "pyechoserver.dev.k8s.chezdj.com"
  rules:
    - backendRefs:
        - name: pyechoserver-svc
          port: 8090
