apiVersion: apps/v1
kind: Deployment
metadata:
  name: tcpecho-deployment
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app.kubernetes.io/name: tcpecho
  template:
    metadata:
      labels:
        app.kubernetes.io/name: tcpecho
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app.kubernetes.io/name: tcpecho } }
        - maxSkew: 2
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector: { matchLabels: { app.kubernetes.io/name: tcpecho } }
      containers:
        - name: tcpecho
          image: dseeley/tcpecho:latest

---
apiVersion: v1
kind: Service
metadata:
  name: tcpecho-svc
  namespace: default
spec:
  selector:
    app.kubernetes.io/name: tcpecho
  ports:
    - port: 3495
      targetPort: 3495
      protocol: TCP
      name: tcp

---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: tcpecho-gw
  namespace: default
spec:
  gatewayClassName: haproxy
  listeners:
    - name: tcpecho-listener
      port: 3495               # Must match external access port
      protocol: TCP

---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: tcpecho-route
  namespace: default
spec:
  parentRefs:
    - name: tcpecho-gw
  rules:
    - backendRefs:
        - name: tcpecho-svc
          port: 3495